HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
gradle/README.md
/apiGateway/gradle/wrapper/gradle-wrapper.jar
/eurekaDiscovery/gradle/wrapper/gradle-wrapper.jar
/find-info-service/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.jar
/join-service/gradle/wrapper/gradle-wrapper.jar
/user-manage-service/gradle/wrapper/gradle-wrapper.jar
/user-service/gradle/wrapper/gradle-wrapper.jar
/apiGateway/gradle/wrapper/gradle-wrapper.properties
/eurekaDiscovery/gradle/wrapper/gradle-wrapper.properties
/find-info-service/gradle/wrapper/gradle-wrapper.properties
/gradle/wrapper/gradle-wrapper.properties
/join-service/gradle/wrapper/gradle-wrapper.properties
/user-manage-service/gradle/wrapper/gradle-wrapper.properties
/user-service/gradle/wrapper/gradle-wrapper.properties
